<div class="row">
	<div class="col-md-12 spacing"></div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8 boxColor">
		<div class="boxMove">
			<h2><%= @champion.name %></h2>
			<p><strong>Position:</strong> <%= @champion.position %></p>
			<p><strong>Cost:</strong> <%= @champion.cost %> ip</p>
			<%= erb(:'partials/ability_table') %>
			<%= erb(:'partials/lore_modal') %>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-12 spacing"></div>
</div>