<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :video_name %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_area :url, id: :video_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :video_description %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :video_author %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_field :data, id: :video_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
