<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Spell Set</th>
      <th>Ability Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Passive</td>
      <td><%= @champion.passive %></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ability 1 (Q)</td>
      <td><%= @champion.ability1 %></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Ability 2 (W)</td>
      <td><%= @champion.ability2 %></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Ability 3 (E)</td>
      <td><%= @champion.ability3 %></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Ultimate  (R)</td>
      <td><%= @champion.ultimate %></td>
    </tr>
  </tbody>
</table>